.home-container {
  font-family: "Poppins", sans-serif;
  color: #173B45; /* Dark green for freshness */
  background-color: #f5f7f2; /* Soft, fresh color */
  padding-bottom: 50px;
}

.trending-section {
  padding: 40px 10%;
  text-align: center;
  background-color: #173B45;
}

.section-title {
  font-size: 24px;
  font-weight: 600;
  color: #173B45;
  margin-bottom: 20px;
}
