/* src/assets/styles/SearchPage.css */
body {
  background-color: #173B45; /* The same background color as the hero section */
  margin: 0;
  font-family: 'Arial', sans-serif; /* You can set a default font for consistency */
}

.search-page {
    opacity: 0;
    transform: translateX(-10px);
    animation: slideIn var(--transition-speed) ease-in-out forwards;
  }
  
  @keyframes slideIn {
    from {
      opacity: 0;
      transform: translateX(-10px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  